@model IEnumerable<IlacStokMvcDapper.Models.FIRMALARTBLMODEL>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "EYF")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FIRMAADI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FIRMAADRES)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FIRMATELEFON)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FIRMAFAKS)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FIRMAADI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FIRMAADRES)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FIRMATELEFON)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FIRMAFAKS)
        </td>
        <td>
            @Html.ActionLink("Edit", "EYF", new { id=item.FIRMANO  }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.FIRMANO })
        </td>
    </tr>
}

</table>
